dip-switch {
	display: inline-block;
	font-family: system-ui;
	flex: 1 1 0;
	min-width: 0;
	aspect-ratio: 2.25/1;
	container-type: inline-size;
	--n-bits: 8;
}

dip-switch .fieldset {
	position: relative;
	font-size: 6cqw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0.25em calc(100% / (var(--n-bits) * 2 + 1));
	border-radius: 3cqw;
	background: #1e57c8;
	color: #fff;
}

dip-switch .legend {
	display: contents;
	letter-spacing: 0.1em;
	opacity: 0.8;
	text-transform: uppercase;
}

dip-switch .legend::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: 1em;
	height: 2cqw;
	background: rgba(255, 255, 255, 0.8);
}

dip-switch .row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	align-items: flex-start;
	gap: 2%;
}

dip-switch .switch {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	cursor: pointer;
	user-select: none;
	flex: 1 1 0;
}

dip-switch .input {
	position: absolute;
	opacity: 0;
}

/* Switch track. */
dip-switch .switch::before {
	content: '';
	width: 100%;
	flex: 1 1 0;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 2cqw;
	box-shadow: inset 0 0 0 0.5cqw rgba(255, 255, 255, 0.25);
}

/* Switch thumb. */
dip-switch .switch::after {
	content: '';
	position: absolute;
	top: 1cqw;
	width: 75%;
	aspect-ratio: 1;
	border-radius: 1cqw;
	background: #fff;
	transform: translateY(14cqw);
	transition: transform 120ms ease;
}

dip-switch .switch:has(.input:checked)::after {
	transform: translateY(0) !important;
}

dip-switch .switch:has(.input:focus-visible)::before {
	outline: 0.143em solid rgba(255, 255, 255, 0.8);
	outline-offset: 0.143em;
}

dip-switch.red-switch .fieldset {
	background: #c81e1e;
}

/* Expert mode focus highlight */
dip-switch:is(.expert-focus, .expert-highlight) .fieldset {
	filter: brightness(125%) contrast(300%);
}
dip-switch.red-switch:is(.expert-focus, .expert-highlight) .fieldset {
	filter: brightness(150%) contrast(400%) grayscale(10%);
}
