*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 12px;
	min-height: 100vh;
}

.description p {
	margin: 0 0 1.5rem 0;
}

.circuit-board {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 0.5vw;
}
